@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

@media screen and (min-width: 769px) {
  /* Estilos para telas maiores que 768px de largura */
  /* Insira seus estilos aqui */
  .heromenuprincipal_menu {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: rgba(242, 203, 118, 0.929);
    overflow-x: hidden;
    transition: all 0.6s ease;
  }
  .heromenuprincipal_menu:hover {
    background: #53403A;
  }
  .heromenuprincipal_menu:hover .heromenuprincipal_lista {
    color: #F2CB76;
  }
  .heromenuprincipal_menu:hover .heromenuprincipal_lista i {
    color: #fff;
  }
  .heromenuprincipal_menu .heromenuprincipal-imgLogo {
    width: 9.6rem;
    margin-left: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heromenuprincipal_menu .heromenuprincipal-imgLogo img {
    width: 100%;
  }
  .heromenuprincipal_menu .heromenuprincipal-menuToggle {
    display: none;
  }
  .heromenuprincipal_menu .heromenuprincipal_lista {
    display: flex !important;
    width: calc(50vw - 32px);
    justify-content: space-around;
    align-items: center;
  }
  .heromenuprincipal_menu .heromenuprincipal_lista li:last-child {
    display: none;
  }
  .heromenuprincipal_menu .heromenuprincipal_lista .heromenuprincipal_item {
    height: 6.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heromenuprincipal_menu .heromenuprincipal_lista .heromenuprincipal_item a {
    font-size: 2.1rem;
    color: inherit;
  }
  .heromenuprincipal_menu .heromenuprincipal_lista .heromenuprincipal_item:hover i {
    opacity: 1;
  }
  .heromenuprincipal_menu .heromenuprincipal_lista .heromenuprincipal_item i {
    font-size: 2.1rem;
    margin-right: 8px;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .herobannerPrincipal {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(136.6% 80.3% at 50% 50%, #E9D099 0%, #F2CB76 100%);
    overflow: hidden;
    margin-bottom: 6.4rem;
  }
  .herobannerPrincipal img {
    width: 100%;
  }
  .herobannerPrincipal .btnGroup {
    display: flex !important;
    left: 32px;
    position: absolute;
    z-index: 999;
    top: 80vh;
  }
  .herobannerPrincipal .btnGroup button {
    width: 18rem;
    height: 6.4rem;
    border-radius: 12px;
    margin-right: 16px;
    font-size: 2.1rem;
    cursor: pointer;
  }
  .herobannerPrincipal .btnGroup button:first-child {
    background-color: #9440E7;
    color: #fff;
  }
  .herobannerPrincipal .btnGroup button:last-child {
    background-color: #53403A;
    color: #ebebeb;
  }
  .disponiveis-titulo {
    margin: auto;
    font-size: 2.1rem;
    margin: 0 auto;
    margin-bottom: 6.4rem;
    font-weight: bold;
    color: rgba(83, 64, 58, 0.7607843137);
    text-align: center;
    display: none;
  }
  .categoriadePets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(70vw - 6.4rem);
    gap: 16px;
    margin: 0 auto;
    margin-bottom: 6.4rem;
  }
  .categoriadePets .categoriadePets-item {
    width: calc(18vw - 32px);
    height: 12.8rem;
    font-size: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #ebebeb;
    color: #9440E7;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .categoriadePets .categoriadePets-item:hover {
    background-color: #9440E7;
    color: #ebebeb;
  }
  .categoriadePets .categoriadePets-item:hover i {
    color: #ebebeb;
  }
  .categoriadePets .categoriadePets-item i {
    font-size: 5.6rem;
  }
  .disponiveisAdocao {
    width: calc(100vw - 128px);
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 6.4rem;
  }
  .disponiveisAdocao .carddog {
    width: calc(30vw - 1.6rem);
    height: 18rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 2px 5px #53403A;
    border-radius: 1.6rem;
    box-shadow: 6px 8px 30px #c9c9c9;
    cursor: pointer;
  }
  .disponiveisAdocao .carddog figure {
    width: 45%;
    background: radial-gradient(50% 50% at 50% 50%, #59AA6A 0%, #3AA852 100%);
    border-radius: 1.6rem;
    margin-left: 3.2rem;
    margin-right: 3.2rem;
  }
  .disponiveisAdocao .carddog figure img {
    width: 100%;
  }
  .disponiveisAdocao .carddog .carddog-descricoes {
    width: 100%;
    height: 70%;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-dogTitulo {
    font-size: 1.96rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-endereco {
    font-size: 1.68rem;
    display: flex;
    flex-direction: row;
    border-bottom: 3.2rem;
    margin-bottom: 0.8rem;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-taggroup {
    width: calc(70% - 32px);
    height: 3.2rem;
    gap: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-taggroup span {
    font-size: 1.4rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-taggroup span:first-child {
    background-color: rgba(239, 199, 113, 0.5);
    color: #ef9771;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-taggroup span:last-child {
    background: rgba(22, 136, 172, 0.3);
    color: #2011C5;
    font-weight: bold;
  }
  .btnChargerGroup {
    width: 20vw;
    height: 3.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .btnChargerGroup button {
    width: 10%;
    font-size: 1.4rem;
    border-radius: 6px;
    background-color: #ebebeb;
    color: #9440E7;
  }
  .aboutUs-titulo {
    width: calc(80vw - 3.2rem);
    margin-left: 1.6rem;
    position: relative;
    top: 6.4rem;
    flex: none;
  }
  .aboutUs-titulo h1 {
    font-size: 2.8rem;
    color: #fff;
    font-family: "Inter", sans-serif;
  }
  .aboutUs-titulo p {
    width: 40%;
    font-size: 1.82rem;
    color: #fff;
    font-style: italic;
  }
  .aboutUs {
    width: 100vw;
    height: 150vh;
    background-image: url(../imgs/components/componentes.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3.2rem;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .aboutUs .aboutUsCard {
    width: calc(27.7777777778vw - 6.4rem);
    padding: 1.6rem;
    background-color: rgba(201, 201, 201, 0.3098039216);
    height: 30rem;
    border-radius: 12px;
  }
  .aboutUs .aboutUsCard .aboutUsCard-cabecalho {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
  .aboutUs .aboutUsCard .aboutUsCard-cabecalho i {
    font-size: 4.2rem;
    color: #ebebeb;
    margin-right: 0.8rem;
  }
  .aboutUs .aboutUsCard .aboutUsCard-cabecalho h1 {
    font-size: 2.8rem;
    color: #ebebeb;
  }
  .aboutUs .aboutUsCard .aboutUsCard-paragrafo {
    width: 90%;
  }
  .aboutUs .aboutUsCard .aboutUsCard-paragrafo p {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 0;
  }
  .slogaOng {
    width: 100vw;
    height: 40vw;
    background-image: url(../imgs/components/juntos.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }
  .footerOngFofuxos {
    width: 100vw;
    height: 40vh;
    background-color: #53403A;
    padding-top: 3.2rem;
  }
  .footerOngFofuxos .logoFooter {
    width: 16rem;
    margin-left: 6.4rem;
  }
  .footerOngFofuxos .logoFooter img {
    width: 100%;
  }
  .footerOngFofuxos ul {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 6.4rem;
    margin-top: 6.4rem;
    margin-left: 6.4rem;
    margin-bottom: 100px;
  }
  .footerOngFofuxos ul li {
    font-size: 2.66rem;
    width: 20%;
  }
  .footerOngFofuxos ul li:hover i {
    color: #F2CB76;
  }
  .footerOngFofuxos ul li:hover a {
    color: #F2CB76;
  }
  .footerOngFofuxos ul li i {
    color: #fff;
  }
  .footerOngFofuxos ul li a {
    color: inherit;
    color: #fff;
  }
  .desenvolvedor {
    background-color: #F2CB76;
    width: 100vw;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desenvolvedor span {
    font-size: 1.4rem;
  }
  .desenvolvedor h2 {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=main.css.map */