@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: #ebebeb;
  }
  header {
    width: 100vw;
    height: 12.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heromenuprincipal_menu {
    display: flex;
    width: 100vw;
    height: 3.2rem;
    justify-content: space-between;
    align-items: center;
  }
  .heromenuprincipal_menu .heromenuprincipal_lista {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    background-color: #9440E7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0;
    animation: slideMenu 1s ease;
    border-bottom: 10px solid #9440E7;
  }
  .heromenuprincipal_menu .heromenuprincipal_lista .heromenuprincipal_item {
    font-size: 4.2rem;
    color: #fff;
  }
  .heromenuprincipal_menu .heromenuprincipal_lista .heromenuprincipal_item a {
    color: #9440E7;
    color: #fff;
  }
  .heromenuprincipal_menu .heromenuprincipal-imgLogo {
    width: 9.6rem;
    margin-left: 1.6rem;
  }
  .heromenuprincipal_menu .heromenuprincipal-imgLogo img {
    width: 100%;
  }
  .heromenuprincipal_menu .heromenuprincipal-menuToggle {
    width: calc(8rem + 8px);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.6rem;
  }
  .heromenuprincipal_menu .heromenuprincipal-menuToggle i {
    width: 4rem;
    height: 4rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9440E7;
    font-size: 2.4rem;
    border-radius: 12px;
  }
  .herobannerPrincipal {
    width: calc(100vw - 32px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 3.2rem;
  }
  .herobannerPrincipal img {
    width: 100%;
  }
  .menuPets {
    width: 100vw;
    overflow-x: auto;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none;
  }
  .categoriadePets {
    width: 130vw;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3.2rem;
    overflow-x: auto;
  }
  .categoriadePets .categoriadePets-item {
    width: 11.2rem;
    height: 4.8rem;
    background: #E3E1E1;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9517923362rem;
    color: #9440E7;
    cursor: pointer;
    margin-left: 8px;
    box-sizing: border-box;
  }
  .categoriadePets .categoriadePets-item i {
    color: #fff;
    font-size: 1.68rem;
    margin-right: 4px;
    color: #9440E7;
  }
  .itemSelecionado {
    background: #9440E7 !important;
    color: #ebebeb !important;
  }
  .itemSelecionado i {
    color: #fff !important;
  }
  .disponiveis-titulo {
    font-weight: bold;
    margin-bottom: 1.6rem;
    margin-left: 16px;
    font-size: 1.4rem;
    color: rgba(30, 30, 30, 0.6);
  }
  .disponiveisAdocao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .disponiveisAdocao .carddog {
    width: calc(50vw - 32px);
    height: 12.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .disponiveisAdocao .carddog .carddog-img {
    width: 30%;
    aspect-ratio: 1/1;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    background: radial-gradient(50% 50% at 50% 50%, #59AA6A 0%, #50965F 100%);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }
  .disponiveisAdocao .carddog .carddog-img img {
    width: 120%;
  }
  .disponiveisAdocao .carddog .carddog-descricoes {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-dogTitulo {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
    font-weight: bolder;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-endereco {
    display: flex;
    margin-bottom: 0.8rem;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-endereco i {
    font-size: 0.8652657602rem;
    margin-right: 0.4rem;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-endereco p {
    font-size: 0.8652657602rem;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-taggroup {
    width: 13rem;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-tags-idade {
    background-color: rgba(239, 199, 113, 0.5);
    color: #ef9771;
    width: 5.6rem;
    height: 2.4rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8652657602rem;
    font-weight: bold;
  }
  .disponiveisAdocao .carddog .carddog-descricoes .carddog-tags-genero {
    background-color: rgba(22, 136, 172, 0.3);
    color: #2011C5;
    width: 5.6rem;
    height: 2.4rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8652657602rem;
    font-weight: bold;
  }
  @keyframes slideMenu {
    to {
      left: 0px;
    }
    from {
      left: 100vw;
    }
  }
}/*# sourceMappingURL=tablets.css.map */