

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// tamanhos [espaços , margens]

* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

body{
  overflow-x: hidden;
}

$micro:0.4rem;
$micro2:0.8rem;
$small: 1.6rem;
$large:3.2rem;
$xxLarge:6.4rem;
$xxlarger2:12.8rem;


// grid de 8 pontos

$titulo: 1.4rem;
$subtitulo: $titulo / 1.618;
$textobasico: $subtitulo / 1.618;


// variável de cores

$primaryDark:#9440E7;
$primaryLigth:#ebebeb;
$backgroundLigth:radial-gradient(136.6% 80.3% at 50% 50%, #E9D099 0%, #F2CB76 100%);

$tagprimaryBg:rgba(239, 199, 113, 0.50);
$tagSecondBg:rgba(22, 136, 172, 0.30);
$tagprimaryColor:#ef9771;
$tagsecondColor:#2011C5;
$carddogBack:radial-gradient(50% 50% at 50% 50%, #59AA6A 0%, #50965F 100%);
$items:#9440E7;






@media only screen and (min-width: 481px) and (max-width: 768px) 
{
 
 body{
  background-color: #ebebeb;
  
 }
 
 
 @mixin tags($bg, $color) {
 
  background-color: $bg;
  color: $color;
  width: 5.6rem;
  height: 2.4rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items:  center;
  font-size: $subtitulo;
  font-weight: bold;
 
 }
 
 
 
 
 header {
  width: 100vw;
  height: $xxlarger2;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .heromenuprincipal_menu {
 
  display: flex;
  width: 100vw;
  height: $large;
  justify-content: space-between;
  align-items: center;
 
  .heromenuprincipal_lista
  {
   
   width: 100vw; height: 100vh;
   position: absolute;
   z-index: 999;
   background-color: #9440E7;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   top: 0;
 animation: slideMenu 1s ease;
 border-bottom: 10px solid #9440E7;
 
 
 
   .heromenuprincipal_item{
    font-size: $titulo * 3;
   
    color: #fff;
    
    a{
     color: #9440E7;
     color: #fff;
     
    }
   }
  }
 
  .heromenuprincipal-imgLogo {
   width: 9.6rem;
   margin-left: 1.6rem;
 
   img {
    width: 100%;
   }
  }
 
  .heromenuprincipal-menuToggle {
   width: calc(8rem + 8px);
   height: 4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 1.6rem;
 
   i {
    width: 4rem;
    height: 4rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primaryDark;
    font-size: 2.4rem;
    border-radius: 12px;
   }
  }
 }
 
 
 .herobannerPrincipal {
  width: calc(100vw - 32px);
 
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: $large;
 
 
  img {
   width: 100%;
  }
 }
 
 .menuPets{
  width: 100vw;
  overflow-x: auto;
  scrollbar-width: none; /* Para Firefox */
   -ms-overflow-style: none;
 }
 
 
 
 
 
 .categoriadePets{
  width: 130vw;
  display: flex;
  justify-content: flex-start;
  margin-bottom: $large;
 
  overflow-x: auto;
 
 
  .categoriadePets-item{
   width: 11.2rem; height: 4.8rem;
   background: #E3E1E1;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: $subtitulo *1.1;
   color: #9440E7;
 cursor: pointer;
  margin-left: 8px;
  box-sizing: border-box;
 
 
   i{
    color: #fff;
    font-size: $titulo * 1.2;
    margin-right: 4px;
   
    
   color: #9440E7;
    
 
   }
  }
  
 }
 
 
 
 
 
 
 .itemSelecionado{
  background: $items !important;
  color: #ebebeb !important;
  i{
   color: #fff !important;
   
  }
 }
 
 
 
 
 
 
 
 .disponiveis-titulo{
  font-weight: bold;
  margin-bottom: $small;
  margin-left: 16px;
  font-size: $titulo;
  color: rgba(30,30,30,0.6);
 }
 
 .disponiveisAdocao {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 
 
  .carddog {
 
   width:calc(50vw - 32px); height:$xxlarger2;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 12px;
   overflow: hidden;
   box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
   background-color: #fff;
   margin-right: 8px;
   margin-bottom: 8px;
 
   
 
 
   .carddog-img {
    width: 30%; aspect-ratio: 1/1;
 
    margin-left: $small;
    margin-right: 1.6rem;
    background: $carddogBack;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
   
 
    img {
     width: 120%;
    }
   }
 
   .carddog-descricoes {
    width: calc(100% - 20%);
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 
 
    .carddog-dogTitulo {
     font-size: $titulo;
     margin-bottom: $micro;
     font-weight: bolder;
 
    }
 
    .carddog-endereco {
     display: flex;
     margin-bottom: $micro2;
  
 
     i{
      font-size: $subtitulo;
      margin-right: 0.4rem;
     }
     p{
      font-size: $subtitulo;
      
     }
 
    }
 
    .carddog-taggroup {
     width: 13rem;
     height: 2.4rem;
     
     display: flex;
     justify-content: space-between;
     
 
    }
 
    .carddog-tags-idade {
 
     @include tags($tagprimaryBg, $tagprimaryColor);
    }
 
    .carddog-tags-genero {
     @include tags($tagSecondBg, $tagsecondColor);
    }
 
   }
 
  }
 
 }
 
 
 @keyframes slideMenu{
  to{
  
   left:0px;
  }
 
  from{
   left: 100vw;
  }
 }






}

















